<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <ul>
        {{ form.as_p }}
    </ul>
    <input type="submit" value="Send">
</form>
</body>
</html>