<html lang="ru">
    <head>
        <title>Polls</title>
    </head>

    <body>
        <div>
            <h1>Polls</h1>
        </div>

        {% for poll in polls %}
            <div>
                <p>published: {{ poll.pub_date }}</p>
                <h1>Question {{ forloop.counter }}</h1>
                <p>{{ poll.question|linebreaksbr }}</p>
                {% for choice in poll.choice_set.all %}
                    <a href="/polls/{{ poll.id }}/choice/{{ choice.id }}">{{ choice.choice_text }} ({{ choice.votes }})</a>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
